.react-daterange-picker, .react-daterange-picker *, .react-daterange-picker *:before, .react-daterange-picker *:after {
    border-radius: 8px;
}

.react-daterange-picker__inputGroup {
    min-width: unset;
}

.react-daterange-picker__range-divider {
    padding: 7px;
}

.react-daterange-picker__wrapper {
    border: thin solid #C4C4C4;
}

.btn-ez-on {
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, #F1D3AC 0%, #E5AE66 100%);
    border: 0.6px solid #2C1919;
    border-radius: 6px;
}