body{
    font-family: 'Nunito';
    background-color: unset !important;
}
.sidebar .nav-item .nav-link{
    border: unset !important;
}

.sidebar .nav-item.active > .nav-link {
    color: #eaedf2;
    background-color: rgba(223, 156, 67, 0.08) !important
}

.sidebar .nav-item .nav-link:hover{
    background-color: rgba(223, 156, 67, 0.08) !important
}
.sidebar-inner{
    overflow: hidden !important;
}

.content{
    padding: unset !important;
}

.content-page{
    padding-left: 109px;
    padding-right: 109px;
}

.card-information{
    width: 198px;
    border-radius: 8px;
    height: 95px;
    background: #FFFFFF;
    padding: 12px 24px;
}

.p-info{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.div-chart{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.base-content{
    width: 100%;
    border-radius: 8px;
    height: 100%;
    background: #FFFFFF;
    padding: 37px 27px 0px 27px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.sub-base-content{
    width: 100%;
    border-radius: 8px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 37px 27px 0px 27px;
}

.p-amount{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    color: #383838;
}

.input-text-ez{
    width: 57%;
    margin-left: 20px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    padding: 0px 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.btn-ez{
    height: 40px;
    background: #EBEBEB;
    width: 100%;
    border-radius: 8px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #C4C4C4;
    border: unset !important;
}

.circle-data{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.report-pie-table > tbody > tr > td:nth-child(2){
    padding-left: 10px;
    padding-bottom: 10px;
}

.export-span{
    color: #077E86;
    float: right;
    font-weight: 700;
    text-decoration: underline;
}

.container-content{
    padding: 29px 113px 0px 113px;
}

.breadcrumbs-span{
    font-size: 14px;
    color: #383838;
    font-weight: 400;
}

.menu-detail-akun-span{
    font-family: 'Exo';
    font-size: 16px;
    font-weight: 400;
    color: '#383838'
}
.menu-detail-akun-span-active{
    font-weight: 700 !important;
    color: #077E86 !important;
}

.menu-detail-akun-hr-active{
    border-bottom: 3px solid #077E86;
    
}

.hr-style{
    border: 0.4px solid #C4C4C4;
}

.detail-akun-tabs{
    cursor: pointer;
}

.head-title{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #383838;
}

.active-box{
    justify-content: center;
    align-items: center;
    padding: 6px 28px;
    width: 95px;
    height: 32px;
    background: rgba(7, 126, 134, 0.08);
    border-radius: 4px;
}

.active-box-span{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #077E86;
}

.table-form > tbody > tr > td{
    padding-left: 10px;
}

.table-api-keys > tbody > tr > td{
    padding-left: 10px;
    padding-bottom: 15px;
}


.table-form > tbody > tr{
    margin-bottom: 16px;
}

.user-dropdown {
    padding: 10px;
}

.dropdown-item:hover {
    border-radius: 8px;
    background-color: #f0f0f0;
}

.text-modal {
    color: #888888;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}