@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

body {
    font-family: 'Nunito';
    background-color: #F3F4F5 !important;
}

.sidebar .nav-item .nav-link {
    border: unset !important;
}

.sidebar .nav-item.active>.nav-link {
    color: #eaedf2;
    background-color: rgba(223, 156, 67, 0.08) !important
}

.sidebar .nav-item .nav-link:hover {
    background-color: rgba(223, 156, 67, 0.08) !important
}

.sidebar-inner {
    overflow: hidden !important;
}

.content {
    padding: unset !important;
}

.content-page {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F3F4F5;
}

.card-information {
    width: fit-content;
    border-radius: 8px;
    height: 95px;
    background: #FFFFFF;
    padding: 12px 24px;
}

.p-info {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.div-chart {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.base-content, .base-content-beranda {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.base-content-custom {
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.base-content {    
    padding: 37px 27px 0px 27px;
}

.base-content-beranda {    
    padding: 27px;
}

.sub-base-content {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 37px 27px 0px 27px;
}

.p-amount {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #383838;
}

.input-text-ez {
    width: 57%;
    margin-left: 20px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    padding: 0px 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.input-text-user {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    padding: 0px 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.input-date-user {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.input-text-area {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.btn-primary {
    background-color: #262B40;
}

.btn-primary:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.btn-ez {
    height: 40px;
    background: #EBEBEB;
    width: 100%;
    border-radius: 8px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #C4C4C4;
    border: unset !important;
}

.btn-reset {
    height: 40px;
    background: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #077E86;
    border: 0.4px solid #077E86;
}

.circle-data {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.report-pie-table>tbody>tr>td:nth-child(2) {
    padding-left: 10px;
    padding-bottom: 10px;
}

.export-span {
    color: #077E86;
    float: right;
    font-weight: 700;
    text-decoration: underline;
}

.container-content {
    padding: 29px 113px 0px 113px;
}

.breadcrumbs-span {
    font-size: 14px;
    color: #383838;
    font-weight: 400;
}

.menu-detail-akun-span {
    font-family: 'Exo';
    font-size: 16px;
    font-weight: 400;
    color: '#383838'
}

.menu-detail-akun-span-active {
    font-weight: 700 !important;
    color: #077E86 !important;
}

.menu-detail-akun-hr-active {
    border-bottom: 3px solid #077E86;
}

.hr-style {
    border: 0.4px solid #C4C4C4;
}

.detail-akun-tabs {
    cursor: pointer;
}

.head-title {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #383838;
}

.active-box {
    justify-content: center;
    align-items: center;
    padding: 6px 28px;
    width: 95px;
    height: 32px;
    background: rgba(7, 126, 134, 0.08);
    border-radius: 4px;
}

.active-box-span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #077E86;
}

.inactive-box {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    width: 95px;
    height: 32px;
    background: rgba(7, 126, 134, 0.08);
    border-radius: 4px;
}

.inactive-box-span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.table-form>tbody>tr>td {
    padding-left: 10px;
}

.table-api-keys>tbody>tr>td {
    padding-left: 10px;
    padding-bottom: 15px;
}


.table-form>tbody>tr {
    margin-bottom: 16px;
}

.active-status-badge {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    width: 60px;
    height: 32px;
    background: rgba(7, 126, 134, 0.08);
    border-radius: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #077E86;
}

.inactive-status-badge {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    width: 95px;
    height: 32px;
    background: rgba(7, 126, 134, 0.08);
    border-radius: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #888888;
}

.berhasil-status-badge, .active-status-topup {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    width: 95px;
    height: 32px;
    background: rgba(7, 126, 134, 0.08);
    border-radius: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #077E86;
}

.active-status-topup {
    text-align: center;
}

.gagal-status-badge {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    width: 95px;
    height: 32px;
    background: #FDEAEA;
    border-radius: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #EE2E2C;
}

.user-dropdown {
    padding: 10px;
}

.dropdown-item:hover {
    border-radius: 8px;
    background-color: #f0f0f0;
}

.text-modal {
    color: #888888;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

.history-modal .modal-content {
    max-width: 751px;
}

.confirm-modal .modal-content {
    width: 400px;
}

/* .disiniya {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
} */

.topup .input-group-text {
    border-right: unset;
}

.reff {    
    border-color: "#B9121B"
}

.berhasil-status-topup {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    width: 95px;
    height: 32px;
    background: rgba(7, 126, 134, 0.08);
    border-radius: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #077E86;
    text-align: center;
}

.gagal-status-topup {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    width: 95px;
    height: 32px;
    background: #FDEAEA;
    border-radius: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #EE2E2C;
    text-align: center;
}

  /* .multiselect {
    width: 200px;
  } */
  
  /* .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  } */
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }

  label.list {
    font-weight: 400;
    font-size: small;
  }

  .title-topup {
    font-weight: 700;
  }

  .detailStatus:hover {
    background-color: "#FFFFFF";
  }

  /* .detailTopUp:hover {
    background: "#F79421";
  } */

/* page daftar agen */

.eSTlnH {
    max-width: 100%;
}

/* page detail agen */

.form-switch .form-check-input {
    height: 1.275em;
}

.form-switch .form-check-input {
    width: 2.25em;
    margin-left: -2.75em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2.25em;
}

.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

.form-check-input {
    /* background: linear-gradient(180deg, #077E86 0%, #80D8DE 100%); */
    background-color: #888888;
    border-color: #262B40;
}

.form-check-input:checked {
    /* background: linear-gradient(180deg, #077E86 0%, #80D8DE 100%); */
    background-color: #077E86;
    border-color: #262B40;
}

/* page edit agen */

.modal.show .modal-dialog {
    display: flex;
    justify-content: center;
}

/* page tambah agen */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
border-radius: 34px;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.add-button {
font-family: "Exo";
font-size: 16px;
font-weight: 700;
align-items: center;
padding: 12px 24px;
gap: 8px;
max-width: 136px;
width: 100%;
height: 45px;
background: linear-gradient(180deg, #F1D3AC 0%, #E5AE66 100%);
border: 0.6px solid #2C1919;
border-radius: 6px;
}

.btn-off {
height: 40px;
background: #EBEBEB;
max-width: 136px;
width: 100%;
border-radius: 8px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #C4C4C4;
border: unset !important;
}

.detailSave {
font-family: Nunito;
font-size: 14px;
font-weight: 400;
}

.detailSave tr td {
width: 150px;
}

/* page forgot password */

.modal-content {
    max-width: 468px;
    width: 100%;
}

/* page signin */

.input-group-text {
    font-size: 0.875rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-right: inset
}

/* page listUser & transaction */

.react-daterange-picker, .react-daterange-picker *, .react-daterange-picker *:before, .react-daterange-picker *:after {
    border-radius: 8px;
}

.react-daterange-picker__inputGroup {
    min-width: unset !important;
}

.react-daterange-picker__range-divider {
    padding: 7px;
}

.react-daterange-picker__wrapper {
    border: thin solid #C4C4C4;
}

.btn-ez-on {
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, #F1D3AC 0%, #E5AE66 100%);
    border: 0.6px solid #2C1919;
    border-radius: 6px;
}

/* select option in dashboard */

.dropPartner .css-b62m3t-container {
    min-width: 260px;
    max-width: 500px;
    width: max-content;
}

.dropPartner .css-1pahdxg-control {
    min-height: 43px;
    border-radius: 8px;
}

.dropPartner .css-1pahdxg-control:hover {
    border-color: #888888;
    box-shadow: 0 0 0 1px #888888;
}

.dropPartner .css-1s2u09g-control {
    min-height: 43px;
    border-radius: 8px;
}

.dropPartner .css-g1d714-ValueContainer {
    overflow-y: auto !important;
    max-height: 43px !important;
    max-width: 400px !important;
}   